doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Project TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      //1
      section.warna
        ul
          li
          li.warna1 "Guess Who ?"
          li.warna2  Created by 
          li.warna3 Anonymous
      //2
      section.warna4
        ul
          li
          li.warna5   Anonymous Member ?
      //3
      section.warna6
        div.margins
          h2  Edward Utoyo
          h2  - Racer Junior - 
          h4  NIM : 14 111 0884
          h4  Kelas : TI-C Sore
          h4  Tanggal Lahir : 30 November 1996
          h4  Status : "JoNes"
          h4  Email : EdwardUcokyo@yahoo.com

      section.warna7
        div.margins
          h2  Eko Pratama Cendana
          h2  - Peter Peter -
          h4  NIM : 14 111 0574
          h4  Kelas : TI-C Sore
          h4  Tanggal Lahir : 10 Oktober 1996
          h4  Status : "Single"
          h4  Email : PermataCendana@yahoo.co.id

      section.warna8
        div.marginss
          h2  Erwin
          h2  - Solo Player - 
          h4  NIM : 14 111 0540
          h4  Kelas : TI-C Sore
          h4  Tanggal Lahir : 23 September 1996
          h4  Status : "Lagi Presentasi TKPPL"
          h4  Email : LabilBaper@yahoo.com

      section.warna9
        div.marginss
          h2  Hansen Triskietanto
          h2  - Duelist From Another World - 
          h4  NIM : 14 111 0922
          h4  Kelas : TI-C Sore
          h4  Tanggal Lahir : 31 Maret 1996
          h4  Status : "Dark Magician Girl"
          h4  Email : HansenGeMut_Gendut_Imut@gmail.com    
      section.warna10
        div.margins
          h2  Ryan Darian
          h2  - The Last Element Bender -
          h4  NIM : 14 111 0582
          h4  Kelas : TI-C Sore
          h4  Tanggal Lahir : 01 April 1996
          h4  Status : "Masih Hidup"
          h4  Email : RyanDarian96@gmail.com
      
      //4
      
      //5
      
      
      //6
      
      //7
      
      
      
      section.warna11
        ul
          li  Guess Who
          li  Permainan khusus untuk Kelas TI-C Sore
      //9
      
      //10
      section.warna12
        ul.warna0
          li
          li  How To Play This Game ?
      //11
      section.warna13
        ul
          li.r  Pembagian Team
          li.rr  Team Mrs Right 
          li  &
          li  Mr Left
      //12
      section
        ul
          li  Gambar
          li  Tebak Kata
      //13
      section
        ul
          li  Gambar diPotong
          li  Hint Gambar
      //14
      section
        h1  Start
      //15
      section.gambar
        div.hasil   <a href="">HASIL</a>
        div.pilih   PILIH GAMBAR
        br
        div.kiri
            div.kotak   <a href="" >Gambar 1</a>
            div.kotak   <a href="">Gambar 3</a>
            div.kotak   <a href="">Gambar 5</a>
            div.kotak   <a href="">Gambar 7</a>
            div.kotak   <a href="">Gambar 9</a>
        div.kanan
            div.kotak   <a href="">Gambar 2</a>
            div.kotak   <a href="">Gambar 4</a>
            div.kotak   <a href="">Gambar 6</a>
            div.kotak   <a href="">Gambar 8</a>
            div.kotak   <a href="">Gambar 10</a>
      //sampai 25
      
      section.warna14
        ul
          li
          li.t  Tujuan
          li.t  Mengetahui Berapa Banyak Kenalan Anda ?
      section.warna15
          h2.fontss Regards
          h2.fontsss Anonymous
      section
        h1.font Special Thanks to:
        h1.fon Hendra
        h1.fon Kelvin
        h1.fon Fenny A.
        h1.fon Christine
        h1.fon Jeffry Onggo
        h1.fon Andy Wllianto
        h1.fon Darwin Sucipta
        h1.fon Martin Leonardi
        h2.fonts.margin Regards
        h2.fonts.margin Anonymous
    script(src='build/build.js')