doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Project TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      //1
      section.back
        h1  "Guess Who ?"
        h2  Created by Anonymous
      //2
      section
        h1   Anonymous Member ?
      //3
      section
        div.margins
          h2  Ryan Darian
          h3  - The Last Element Bender -
          h4  NIM : 14 111 0582
          h4  Kelas : TI-C Sore
          h4  Tanggal Lahir : 01 April 1996
          h4  Status : "Masih Hidup"
          h4  Email : RyanDarian96@gmail.com
      //4
      section
        div.margins
          h2  Eko Pratama Cendana
          h3  - Peter Peter -
          h4  NIM : 14 111 0574
          h4  Kelas : TI-C Sore
          h4  Tanggal Lahir : 10 Oktober 1996
          h4  Status : "Single"
          h4  Email : PermataCendana@yahoo.co.id
      //5
      section
        div.margins
          h2  Edward Utoyo
          h3  - Racer Junior - 
          h4  NIM : 14 111 0884
          h4  Kelas : TI-C Sore
          h4  Tanggal Lahir : 30 November 1996
          h4  Status : "JoNes"
          h4  Email : EdwardUcokyo@yahoo.com
      //6
      section
        div.margins
          h2  Erwin
          h3  - Solo Player - 
          h4  NIM : 14 111 0540
          h4  Kelas : TI-C Sore
          h4  Tanggal Lahir : 23 September 1996
          h4  Status : "Lagi Presentasi TKPPL"
          h4  Email : LabilBaper@yahoo.com
      //7
      section
        div.margins
          h2  Hansen Triskietanto
          h3  - Duelist From Another World - 
          h4  NIM : 14 111 0922
          h4  Kelas : TI-C Sore
          h4  Tanggal Lahir : 31 Maret 1996
          h4  Status : "Dark Magician Girl"
          h4  Email : HansenGeMut_Gendut_Imut@gmail.com
      //8
      section
        ul
          li  Guess Who
          li  Permainan khusus untuk Kelas TI-C Sore
      //9
      
      //10
      section
        h1  How To Play This Game ?
      //11
      section
        ul
          li  Pembagian Team
          li  Team Mrs Right & Mr Left
      //12
      section
        ul
          li  Gambar
          li  Tebak Kata
      //13
      section
        ul
          li  Gambar diPotong
          li  Hint Gambar
      //14
      section
        h1  Start
      //15
      section.gambar
        div.hasil   <a href="">HASIL</a>
        div.pilih   PILIH GAMBAR
        br
        div.kiri
            div.kotak   <a href="" >Gambar 1</a>
            div.kotak   <a href="">Gambar 3</a>
            div.kotak   <a href="">Gambar 5</a>
            div.kotak   <a href="">Gambar 7</a>
            div.kotak   <a href="">Gambar 9</a>
        div.kanan
            div.kotak   <a href="">Gambar 2</a>
            div.kotak   <a href="">Gambar 4</a>
            div.kotak   <a href="">Gambar 6</a>
            div.kotak   <a href="">Gambar 8</a>
            div.kotak   <a href="">Gambar 10</a>
      //sampai 25
      
      section
        ul
          li.h1.alpha Tujuan
          li.h1.beta Mengetahui Berapa Banyak Kenalan Anda ?
      section
        h1.font Special Thanks to:
        h1.fon Hendra
        h1.fon Kelvin
        h1.fon Fenny A.
        h1.fon Christine
        h1.fon Jeffry Onggo
        h1.fon Andy Wllianto
        h1.fon Darwin Sucipta
        h1.fon Martin Leonardi
        h2.fonts.margin Regards
        h2.fonts.margin Anonymous
      
    script(src='build/build.js')