doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Project TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      //1

      section.warna
        ul
          li
          li.warna1 "Guess Who ?"
          li.warna2  Created by 
          li.warna3 Anonymous

      section.back
        h1  "Quess Who ?"
        h2  Created by Anonymous

      //2
      section
        h1   Anonymous Member ?
      //3
      section
        h2  Edward Utoyo
        h3  - Racer - 
        h4  NIM : 14 111 0884
        h4  Kelas : TI-C Sore
        h4  Tanggal Lahir : 30 November 1996
        h4  Status : "JoNes"
        h4  Email : EdwardUcokyo@yahoo.com
      //4
      section
        h2  Eko Pratama Cendana
        h3  - Peter Peter -
        h4  NIM : 14 111 0574
        h4  Kelas : TI-C Sore
        h4  Tanggal Lahir : 10 Oktober 1996
        h4  Status : "Single"
        h4  Email : PermataCendana@yahoo.co.id
      //5
      section
        h2  Erwin
        h3  - Solo Player - 
        h4  NIM : 14 111 0540
        h4  Kelas : TI-C Sore
        h4  Tanggal Lahir : 23 September 1996
        h4  Status : "Lagi Presentasi TKPPL"
        h4  Email : LabilBaper@yahoo.com
      //6
      section
        h2  Hansen Triskietanto
        h3  - Duelist From Another World - 
        h4  NIM : 14 111 0922
        h4  Kelas : TI-C Sore
        h4  Tanggal Lahir : 31 Maret 1996
        h4  Status : "Dark Magician Girl"
        h4  Email : HansenGeMut_Gendut_Imut@gmail.com
      //7
      section
        h2  Ryan Darian
        h3  - The Last Element Bender -
        h4  NIM : 14 111 0582
        h4  Kelas : TI-C Sore
        h4  Tanggal Lahir : 01 April 1996
        h4  Status : "Masih Hidup"
        h4  Email : RyanDarian96@gmail.com
      //8
      section
        ul
          li  Quess Who
          li  Permainan khusus untuk Kelas TI-C Sore
      //9
      
      //10
      section
        h1  How To Play This Game ?
      //11
      section
        ul
          li  Pembagian Team
          li  Team Mrs Right & Mr Left
      //12
      section
        ul
          li  Gambar
          li  Tebak Kata
      //13
      section
        ul
          li  Gambar diPotong
          li  Hint Gambar
      //14
      section
        h1  Start
      //15
      section.gambar
        div.hasil   HASIL
        div.pilih   PILIH GAMBAR
        br
        div.kiri
            div.kotak(onclick="Picture(0)") Gambar 1
            div.kotak(onclick="Picture(2)") Gambar 3
            div.kotak(onclick="Picture(4)") Gambar 5
            div.kotak(onclick="Picture(6)") Gambar 7
            div.kotak(onclick="Picture(8)") Gambar 9
        div.kanan
            div.kotak(onclick="Picture(1)") Gambar 2
            div.kotak(onclick="Picture(3)") Gambar 4
            div.kotak(onclick="Picture(5)") Gambar 6
            div.kotak(onclick="Picture(7)") Gambar 8
            div.kotak(onclick="Picture(9)") Gambar 10
      //sampai 25
      section(onmouseenter="load()")
        div#gambar
        div.keyboard
          div.keys(onclick="addLetter(A)") A
          div.keys(onclick="addLetter(B)") B
          div.keys(onclick="addLetter(C)") C
          div.keys(onclick="addLetter(D)") D
          div.keys(onclick="addLetter(E)") E
          div.keys(onclick="addLetter(F)") F
          div.keys(onclick="addLetter(G)") G
          div.keys(onclick="addLetter(H)") H
          div.keys(onclick="addLetter(I)") I
          div.keys(onclick="addLetter(J)") J
          div.keys(onclick="addLetter(K)") K
          div.keys(onclick="addLetter(L)") L
          div.keys(onclick="addLetter(M)") M
          div.keys(onclick="addLetter(N)") N
          div.keys(onclick="addLetter(O)") O
          div.keys(onclick="addLetter(P)") P
          div.keys(onclick="addLetter(Q)") Q
          div.keys(onclick="addLetter(R)") R
          div.keys(onclick="addLetter(S)") S
          div.keys(onclick="addLetter(T)") T
          div.keys(onclick="addLetter(U)") U
          div.keys(onclick="addLetter(V)") V
          div.keys(onclick="addLetter(W)") W
          div.keys(onclick="addLetter(X)") X
          div.keys(onclick="addLetter(Y)") Y
          div.keys(onclick="addLetter(Z)") Z
        div.ansboard
          div.ans
          div#letter 0 letter(s)
      section
        ul
          li.font Tujuan
          li  Mengetahui Berapa Banyak Kenalan Anda ?
      section

        h1.fonts Special Thanks to:
      section
        h4.fontss Regards
        h4.fontsss Anonymous

        h1  Thanks
        h2  Regards
        h2  Team
      

    script(src='build/build.js')
    script.
      var lvalue = 10
      var rvalue = 10
      var imgNo = 0
      var numltr = document.getElementById('letter').innerHTML
      var ltr = ""
      var answer1 = ['B','A','R','R','A','C','K',' ','O','B','A','M','A']
      var answer2 = ['D','A','V','I','D',' ','B','E','C','K','H','A','M']
      var answer3 = ['P','E','W','D','I','E','P','I','E']
      var answer4 = ['J','A','C','K','I','E',' ','C','H','A','N']
      var answer5 = ['J','E','T',' ','L','E','E']
      var answer6 = ['J','O','K','O',' ','W','I','D','O','D','O']
      var answer7 = ['K','A','T','Y',' ','P','E','R','R','Y']
      var answer8 = ['M','R',' ','B','E','A','N']
      var answer9 = ['V','I','N',' ','D','I','E','S','E','L']
      var answer10 = ['W','I','L','L','I','A','M']
      var keys = [false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false]
      function load(){
        if(imgNo == 0) { 
          numltr = "12 letter(s)"
        }
        if(imgNo == 1) { 
          
        }
        if(imgNo == 2) { 
          
        }
        if(imgNo == 3) { 

        }
        if(imgNo == 4) { 
          
        }
        if(imgNo == 5) { 
          
        }
        if(imgNo == 6) { 

        }
        if(imgNo == 7) { 
          
        }
        if(imgNo == 8) { 
          
        }
        if(imgNo == 9) { 
          
        }
      }

      function Picture(Num){ 
        imgNo = Num 
        ltr = ""
        alert(Num)
      }

      function addLetter(Letter) { 
        ltr = Letter
        if(imgNo == 0) {
          alert(numltr)
          for(var i = 0; i < 13; i++) {
            if(answer1[i] == Letter) {
              ltr += Letter
            }
            else {
              ltr += " "
            }
          }
        }
      }

      function imgLoad() {
        if(imgNo == 0) { 

        }
        if(imgNo == 1) { 
          
        }
        if(imgNo == 2) { 
          
        }
        if(imgNo == 3) { 

        }
        if(imgNo == 4) { 
          
        }
        if(imgNo == 5) { 
          
        }
        if(imgNo == 6) { 

        }
        if(imgNo == 7) { 
          
        }
        if(imgNo == 8) { 
          
        }
        if(imgNo == 9) { 
          
        }
      }


