doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Project TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      //1
      section
        h1  "Quess Who ?"
        h2  Created by Team
      //2
      section
        ul
          li Team Member : 
          li Erwin
          li Eko Pratama Cendana
          li Hansen Triskietanto
          li Edward Utoyo
          li Ryan Darian
      //3
      section
        ul
          li  Quess Who
          li  Permainan khusus untuk Kelas TI-C Sore
      //4
      section
        ul
          li  Tujuan
          li  Mengetahui Apakah Anda benar-benar mengenal Teman Sekelas Anda ?
      //5
      section
        h1  How To Play This Game ?
      //6
      section
        ul
          li  Pembagian Team
          li  Team Mrs Right & Mr Left
      //6
      section
        ul
          li  Gambar
          li  Tebak Kata
      //7
      section
        ul
          li  Gambar diPotong
          li  Hint Gambar
      //8
      section
        h1  Start
      //9
      section
        ul
          li  Gambar
          li  Tebak 
      //sampai 19


      //20
      section
        h1  Hasil
      section
        h1  Thanks
        h2  Regards
        h2  Team

    script(src='build/build.js')